<html>
<body>

<h3>Dear ${jugger.firstName} ${jugger.lastName},<br>
As you requested, your password has been reseted.</h3>

<div>
   To change your password, please click on this link:
</div>
<div>
    <a href="${baseUrl}/jugger/enable.form?email=${email}&code=${confirmationCode}">${baseUrl}/jugger/sendToFormPWD.html?email=${email}&code=${confirmationCode}</a>
</div>
<br>
<br>
<br>
Best Regards,<br>
JUG Events Team
</body>

</html>