<html>
<body>
<h3>Hi ${jugger.firstName} ${jugger.lastName}</h3>

<div>
   Please confirm your registration clicking on the following link:
</div>
<div>
    <a href="${baseUrl}/jugger/enable.form?email=${email}&code=${confirmationCode}">${baseUrl}/jugger/sendToFormPWD.html?email=${email}&code=${confirmationCode}</a>
</div>
</body>

</html>