<html>
<body>
<p>Dear <b>${jugger.firstName} ${jugger.lastName}</b>,<br>
we received a request for changing your <a href="${baseUrl}">JUG Events</a> password.</p>
<p>To change your password, please click on this link:</p>
<p><a href="${baseUrl}/jugger/changePassword.form?username=${username}&code=${oneWayCode}">${baseUrl}/jugger/changePassword.html?username=${username}&code=${oneWayCode}</a></p>
<p>If You didn't requested this <em>password recovery</em> action, please ignore this message and
continue to access to <a href="${baseUrl}">JUG Events</a> as usually. If you want to
signal an abuse, please write to <a href="mailto:info@jugevents.org">info@jugevents.org</a>.</p>
<p>Best Regards,<br>
The JUG Events Team</p>
</body>
</html>