<html>
<body>
<h3>Hi ${participant.firstName} ${participant.lastName}, You are registering to ${event.title}!</h3>

<div>
   Please confirm you registration clicking on the following link:
</div>
<div>
    <a href="http://localhost:8080/jugevents/confirm/registration.html?email=${email}&code=${confirmationCode}">http://localhost:8080/jugevents/confirm/registration.html?email=${email}&code=${confirmationCode}</a>
</div>
</body>

</html>