<html>
<body>
<h3>
The jugger identified by ${username} has required to increase his
reliability. </h3>

<div>
  You can grant or revoke his reliablility using the admin console
</div>

<div>
  motivation: <br>
  "${motivation}"
</div>
<!--
<div>
    <a href="${baseUrl}/admin">admin console</a>
</div>
-->
</body>

</html>