<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:lambico="http://www.lambico.org/schema/lambico"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.lambico.org/schema/lambico http://www.lambico.org/schema/lambico.xsd">

  <!-- Authomatic discovering of persistent classes -->
  <lambico:discover-persistent-classes basePackage="org.parancoe.plugins.italy"/>
  <!-- Authomatic DAO definition from persistent classes -->
  <lambico:define-daos baseInterfacePackage="org.parancoe.plugins.italy" />

  <!-- ContextListener specifico per questo plugin -->
  <bean id="pluginItalyContextListener" class="org.parancoe.plugins.italy.PopulateData"/>

  <!--                           -->
  <!-- Configurazione del plugin -->
  <!--                           -->
  <bean id="applicationContext-pluginItalyConfig" class="org.parancoe.web.plugin.ApplicationContextPlugin">
    <property name="name" value="parancoe-plugin-italy"/>
    <property name="contextLoaderListeners">
      <list>
        <ref bean="pluginItalyContextListener"/>
        <!-- <ref bean="pluginItalyContextListener2"/> -->
      </list>
    </property>

    <!-- fixtures da caricare all'avvio del plugin -->
    <property name="fixtureClassNames">
      <list>
        <value>org.parancoe.plugins.italy.Regione</value>
        <value>org.parancoe.plugins.italy.Provincia</value>
        <value>org.parancoe.plugins.italy.Comune</value>
        <value>org.parancoe.plugins.italy.Procura</value>
      </list>
    </property>
  </bean>
</beans>
