<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns:security="http://www.springframework.org/schema/security"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:parancoe="http://www.parancoe.org/schema/parancoe"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.1.xsd
                        http://www.parancoe.org/schema/parancoe http://www.parancoe.org/schema/parancoe.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    
   <!-- ContextListener specifico per questo plugin -->
   <bean id="pluginSecurityContextListener" class="org.parancoe.plugins.security.PopulateData"/>
	
    <!--                           -->
    <!-- Configurazione del plugin -->
    <!--                           -->
   <bean id="applicationContextPluginSecurityConfig" class="org.parancoe.web.plugin.ApplicationContextPlugin">
        <property name="name" value="parancoe-plugin-security-encrypt"/>
        <property name="contextLoaderListeners">
            <list>
                <ref bean="pluginSecurityContextListener"/>
            </list>
        </property>
   </bean>

</beans>