<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:parancoe="http://www.parancoe.org/schema/parancoe"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                           http://www.parancoe.org/schema/parancoe http://www.parancoe.org/schema/parancoe.xsd">

    <context:component-scan base-package="org.parancoe.plugins.security"/>       

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver"/>        
        <property name="url" value="jdbc:hsqldb:mem:test"/>         
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <bean id="sessionFactory" parent="abstractSessionFactory">
        <property name="hibernateProperties">
            <props merge="true">
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>    
    
    <!-- MySql configuration -->
    <!--
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="url" value="jdbc:mysql://localhost:3306/parancoetest"/>
        <property name="driverClassName" value="org.gjt.mm.mysql.Driver"/>
        <property name="username" value="root"/>
        <property name="password" value="pippo"/>
    </bean>
    
    
    <bean id="sessionFactory" parent="abstractSessionFactory">
        <property name="hibernateProperties">
            <props merge="true">
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>
    -->
    
   <parancoe:discover-persistent-classes basePackage="org.parancoe.plugins.security"/>

    <!--   -->
    <bean name="pluginSecurityFilterDefinitions" class="java.lang.String">
        <constructor-arg>
            <value>
                CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
                PATTERN_TYPE_APACHE_ANT
                /people/**=ROLE_ADMIN, ROLE_PARANCOE
                /event/edit*=ROLE_ADMIN, ROLE_JUGGER
                /event/delete*=ROLE_ADMIN, ROLE_JUGGER
                /event/participants*=ROLE_ADMIN, ROLE_JUGGER
                /admin/**=ROLE_ADMIN
                /**=IS_AUTHENTICATED_ANONYMOUSLY
            </value>
        </constructor-arg>     
    </bean>
    
    
    
    <bean id="securedBeanNames" class="java.util.ArrayList">    	
        <constructor-arg>
            <list>
            <value>test</value>                
            </list>
        </constructor-arg>
    </bean>
    <!-- just to fill the value of beanNames  -->
    <bean id="test" class="java.lang.String" />
    
</beans>

